<div class="mdl-color-text--grey-700">
  {{#each this}}
  <header class="comment__header">
    <div class="comment__author">
      <strong>{{user.username}}</strong>
      <span>{{format_date created_at}}</span>
    </div>
  </header>
  <div class="comment__text">
    {{comment_text}}
  </div>
  {{/each}}
</div>