<div class="post-card mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-color--primary mdl-card__title">
    <span class="mdl-chip">
      <span class="mdl-chip__text">Posted by {{user.username}} on </span>
    </span>
  </div>
  <div class="mdl-card__supporting-text">
    <a href="/post/{{id}}" class="mdl-button">{{title}}</a>
  </div>
</div>
    