<div class="mdl-color--primary mdl-card__title">
  <h2 class="mdl-color-text--white mdl-card__title-text">{{title}}</h2>
  <div class="mdl-layout-spacer"></div>
  <span class="mdl-chip">
    <span class="mdl-chip__text">Posted by {{user.username}} on {{format_date created_at}}</span>
  </span>
</div>
<div class="mdl-card__actions">
  {{post_text}}
</div>

    