<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__supporting-text">
    <h4>{{title}}</h4>
    {{post_text}}
  </div>
  <div class="mdl-card__actions">
    <a href="#" class="mdl-button">{{user.username}}</a>
  </div>
</div>
    