<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-cell mdl-cell--12-col">
    <form class="new-post-form">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Create New Post</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="post-title" name="post-title" />
          <label class="mdl-textfield__label" for="post-title">Title...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="post_text" name="post_text">
          <label class="mdl-textfield__label" for="post-text">Content...</label>
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>   
</section>

{{#if posts.length}}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-color--primary mdl-card__title">
    <h2 class="mdl-card__title-text">Your Posts</h2>
  </div>

  {{#each posts as |post|}}
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <a class="mdl-navigation__link card__link" href="/post/{{id}}">{{> post-list post }}</a>
      <div class="mdl-card__actions mdl-card--border">
        <a href ="/dashboard/edit/{{post.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Edit post
        </a>
      </div>
    </div>
  {{/each}}  
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
