<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  {{#each posts as |post|}}
    <a class="mdl-navigation__link" href="/post/{{id}}">{{> dashboard-post post }}</a>
  {{/each}}  
</section>