<section class="section--center mdl-grid">
  {{#each posts as |post|}}
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <a class="mdl-navigation__link card__link" href="/post/{{id}}">{{> post-list post }}</a>
    </div>   
  {{/each}}  
</section>
