.mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
}

.section--center {
    max-width: 860px;
}

.page-content {
    padding: 8px;
    padding-top: 48px;
}

.mdl-textfield {
    width: 100%
}

.form-card-wide.mdl-card {
    width: 512px;
}

.post-card {
    min-height: 80px
}

.comments {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 32px;
    box-sizing: border-box;
}

.comment__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.comment__header > .comment__author {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.comment__text {
    line-height: 1.5em;
}